@using DeneirsGate.Services
@using CustomHtmlHelpers
@model List<CharacterShortViewModel>

<style type="text/css">
    .name {
        margin-top: 1em;
        text-align: center;
        font-size: large;
        text-wrap: normal;
        max-width: 85px;
    }
</style>

<div class="flexbox-container full-width">
    @HtmlHelpers.RenderFancyTextbox("lg long", "SearchCharacters", null, "", "Search")
</div>
<div id="character-inventory" class="flexbox-container">
    @foreach (var item in Model)
    {
        <div class="flex-item character need-space">
            <div class='fancy-portrait' style="max-width:85px">
                <a class="menu-link" data-url="@Url.Action("_Character", "ContentSearch", new { id = item.CharacterKey })" data-dir="@item.FirstName @item.LastName">
                    <img class='img-xs img-responsive' src='@Url.CharacterPortrait((Guid)ViewBag.CampaignKey, item.CharacterKey, item.Portrait)' />
                </a>
            </div>
            <div class="name red">@item.FirstName @item.LastName</div>
        </div>
    }
</div>

<script type="text/javascript">

    $('#SearchCharacters').keyup(function () {
        var search = $(this).val().toLowerCase();
        $('#character-inventory .character').each(function () {
            var name = $(this).find('.name').text().toLowerCase();
            if (name.indexOf(search) > -1) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        })
    })
</script>