@using DeneirsGate.Services
@using CustomHtmlHelpers
@model List<DungeonListViewModel>

<div class="flexbox-container full-width">
    @HtmlHelpers.RenderFancyTextbox("lg long", "SearchDungeons", null, "", "Search")
</div>

<div id="dungeon-inventory" class="flexbox-container justify-center">
    @foreach (var item in Model)
    {
        <div id="@item.DungeonKey" class="btn btn-lg btn-default menu-option menu-link" data-url="@Url.Action("_Dungeon", "ContentSearch", new { id = item.DungeonKey })" data-dir="@item.Name">
            @item.Name
        </div>
    }
</div>

<script type="text/javascript">
    $('#SearchDungeons').keyup(function () {
        var search = $(this).val().toLowerCase();
        $('#dungeon-inventory .menu-link').each(function () {
            var name = $(this).text().toLowerCase();
            if (name.indexOf(search) > -1) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        })
    })
</script>