@using DeneirsGate.Services
@model List<FriendViewModel>


<div class="flex-container flex-wrap">
    @foreach (var item in Model)
    {
    <div id="@item.UserId" class="friend-list-item flex-container space-around align-center">
        <div class="friend">
            <img class="picture lg" alt="avatar" src="@item.Picture">
            <span class="text-large">
                @item.Username
            </span>
        </div>
        <div class="flex-container flex-wrap">
            <div class="btn btn-warning full-width" onclick="updateStatus('@item.UserId', @((int)FriendStatus.None))"><i class="fa fa-times"></i>&nbsp;Cancel</div>
        </div>
    </div>
    }
</div>