@using DeneirsGate.Services
@using CustomHtmlHelpers
@model CampaignDashboardViewModel

@{
    ViewBag.Title = "Campaign Dashboard";
}

<h2>Campaign Dashboard</h2>

<a class="btn btn-primary" href="@Url.Action("CreatePlayer", "Campaign", new { id = Model.CampaignKey })">Add Player</a>
<div class="btn btn-default" onclick="sendNotification()">Send Notification</div>

<div class="dashboard-players">
    @foreach (var item in Model.Players)
    {
        <div class='fancy-portrait'>
            <a href="@Url.Action("EditPlayer", new { id = item.CharacterKey, ownerId = Model.CampaignKey })">
                <img class='img-xs img-responsive' src='@Url.CharacterPortrait(item.CampaignKey, item.CharacterKey, item.Portrait)' />
            </a>
            <div class="player-info">
                <div class="name-level">
                    <div class="name">@item.FirstName @item.LastName</div>
                    <div class="level">@item.Level</div>
                </div>
                <div class="extra">@item.Race @item.Class</div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">
        function sendNotification() {
            NotificationHub.Send('@User.Identity.Name', {
                Message: 'Take me home!',
                Link: '@Url.Action("/", "Home")'
            })
        }



        /********************** Invite Player ******************************/
        $('#invite-player').click(function () {
            Notiflix.Report.Info(
                'Invite Player',
                'Username? ' + registerPlayerAction,
                'Send',
                function () {
                    //TODO
                }
            )
        })
    </script>
}