@using DeneirsGate.Services
@using CustomHtmlHelpers
@model CampaignDashboardViewModel

@{
    ViewBag.Title = "Campaign Dashboard";
}

<h2>Campaign Dashboard</h2>

<div class="dashboard-left-panel">
    <div class="npc-panel">
        <div class="flexbox-container">
            <label class="text-large">NPCs</label>
            <a class="btn btn-sm btn-primary" href="@Url.Action("CreateCharacter", "Character")"><i class="fa fa-plus"></i></a>
        </div>
        <div class="npc-list content-box">
            @foreach (var item in Model.NPCs)
            {
                <div class='fancy-portrait need-space'>
                    <a href="@Url.Action("EditCharacter", "Character", new { id = item.CharacterKey })">
                        <img class='img-xs img-responsive' src='@Url.CharacterPortrait(item.CampaignKey, item.CharacterKey, item.Portrait)' />
                    </a>
                    <div class="player-info">
                        <div class="name-level">
                            <div class="name">@item.FirstName @item.LastName</div>
                            <div class="level">@item.Level</div>
                        </div>
                        <div class="extra">@item.Race @item.Class</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="dashboard-players items-end">
    <a style="height:35px" class="btn btn-primary" href="@Url.Action("CreateCharacter", "Character", new { id = Model.CampaignKey, isPlayer = true })">Add Player</a>
    @foreach (var item in Model.Players)
    {
        <div class='fancy-portrait'>
            <a href="@Url.Action("EditCharacter", "Character", new { id = item.CharacterKey })">
                <img class='img-xs img-responsive' src='@Url.CharacterPortrait(item.CampaignKey, item.CharacterKey, item.Portrait)' />
            </a>
            <div class="player-info">
                <div class="name-level">
                    <div class="name">@item.FirstName @item.LastName</div>
                    <div class="level">@item.Level</div>
                </div>
                <div class="extra">@item.Race @item.Class</div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">

        /********************** NPCs ******************************/




        /********************** Invite Player ******************************/
        $('#invite-player').click(function () {
            Notiflix.Report.Info(
                'Invite Player',
                'Username? ' + registerPlayerAction,
                'Send',
                function () {
                    //TODO
                }
            )
        })
    </script>
}