@model DeneirsGate.Services.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="content-box text-center transparent">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.Email)
        <div class="flexbox-container justify-center">
            <div class="flexbox-container justify-end" style="width:40%">
                @Html.LabelFor(m => m.Password, new { @class = "control-label text-large" })
            </div>
            <div class="flexbox-container" style="width:50%">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-inline" })
            </div>
        </div>
        <div class="flexbox-container justify-center">
            <div class="flexbox-container justify-end" style="width:40%">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label text-large" })
            </div>
            <div class="flexbox-container" style="width:50%">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-inline" })
            </div>
        </div>
        <div class="form-group mt">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    }

    @if (ViewBag.Reset != null && ViewBag.Reset)
    {
        <p class="text-large">
            Your password has been reset! Please @Html.ActionLink("click here to log in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $.backstretch("@Url.Content("~/Content/img/info-background.png")", {
            speed: 500
        });
    </script>
}
