@using DeneirsGate.Services
@using CustomHtmlHelpers
@model List<SettlementViewModel>

@{
    ViewBag.Title = "Settlements";
    ViewBag.MenuOption = "Settlement";
}

<div id="SettlementIndexPage">
    <h2>Settlements</h2>
    <br />
    <div class="flexbox-container justify-between">
        @HtmlHelpers.RenderFancyTextbox("lg long", "SearchSettlements", null, "", "Search Settlements")
        <a class="btn btn-default" href="@Url.Action("Create")">Create Settlement</a>
    </div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width:40%">Name</th>
                <th style="width:50%">Description</th>
                <th style="width:10%" class="text-center">Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr id="@item.SettlementKey" class="table-settlement" data-name="@item.Name">
                    <td>@item.Name</td>
                    <td>@HtmlHelpers.LimitString(item.Description)</td>
                    <td class="flexbox-container justify-center content-center">
                        <a href="@Url.Action("Edit", new { id = item.SettlementKey })">
                            <div class="btn btn-sm btn-primary">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </a>
                        <a onclick="promptDelete(`deleteSettlement('@item.SettlementKey')`)">
                            <div class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        var deleteAction = '@Url.Action("Delete")';

        $('#SearchSettlements').keyup(function () {
            var search = $(this).val().toLowerCase();
            $('.table-settlement').each(function () {
                var name = $(this).data('name').toLowerCase();
                if (name.indexOf(search) > -1) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            })
        })

        function deleteSettlement(id) {
            var postData = { id: id };

            $.ajax({
                type: "POST",
                url: deleteAction,
                data: JSON.stringify(postData),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data.success) {
                        Notiflix.NotifyContent.Success(data.message);
                        $(`#${id}`).remove();

                    } else {
                        Notiflix.NotifyContent.Failure(data.message);
                    }
                },
                error: function (error) {
                    Notiflix.NotifyContent.Failure(error.responseText);
                }
            })
        }
    </script>
}